
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f7
}

/* MAIN LAYOUT */
.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background:#314F6F;
    color: white;
    padding: 15px 10px;
}

.panelMenuCustom {
    background:white!important;
    color: white !important;
    border: none !important;
}

/* RIGHT MAIN AREA */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background:#E8F3FF;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color:black;
}

/* INNER CONTENT */
.content {
    padding: 2px;
    overflow-y: auto;
    
}

/* DASHBOARD CARDS */
.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

.card h2 {
    margin: 0;
    font-size: 32px;
}

.card-blue { background: #3b82f6; }
.card-yellow { background: #f59e0b; }
.card-green { background: #10b981; }
.card-red { background: #ef4444; }
.top-menu {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    background:#E8F3FF;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.top-item {
    text-decoration: none;
    color: #555555;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.top-item:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.top-item.active {
    color: #1e90ff; /* Active tab color like Dashboard in image */
    font-weight: 600;
    border-bottom: 2px solid #1e90ff;
}



